<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <!-- ====================   Consumer   ==================== -->
    <!-- AbstractDbConsumer -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.db.AbstractDbConsumer"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <map>
                <entry value-ref="dataSourceMYERP">
                    <key>
                        <value type="com.dummy.myerp.consumer.db.DataSourcesEnum">MYERP</value>
                    </key>
                    <ref bean="ProdDataSource"/>
                </entry>
                <entry value-ref="dataSourceTEST">
                    <key>
                        <value type="com.dummy.myerp.consumer.db.DataSourcesEnum">TEST</value>
                    </key>
                    <ref bean="TestDataSource"/>
                </entry>
            </map>
        </property>
    </bean>


    <bean id="ProdDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"    value="org.postgresql.Driver" />
        <property name="url"                value="jdbc:postgresql://localhost:9032/db_myerp"/>
        <property name="username"           value="user_myerp"/>
        <property name="password"           value="myerp"/>
        <property name="connectionProperties">
            <props>
                <prop key="socketTimeout">10</prop>
            </props>
        </property>
    </bean>

    <bean id="TestDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"    value="org.h2.Driver" />
        <property name="url"                value="jdbc:h2:mem:db_test"/>
        <property name="username"           value="sa"/>
        <property name="password"           value="password"/>
    </bean>


    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:resources/schema.sql"/>
        <jdbc:script location="classpath:resources/data.sql"/>
    </jdbc:initialize-database>

    <!-- ==================== Consumer-Proxy ==================== -->

    <!-- ConsumerHelper -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.ConsumerHelper"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <list>
                <ref bean="DaoProxy"/>
            </list>
        </property>
    </bean>


    <!-- DaoProxy -->
    <bean id="DaoProxy" class="com.dummy.myerp.consumer.dao.impl.DaoProxyImpl" factory-method="getInstance">
        <property name="comptabiliteDao" ref="ComptabiliteDaoImpl"/>
    </bean>


    <!-- ==================== Databases ==================== -->
    <bean id="dataSourceMYERP" class="com.dummy.myerp.technical.util.spring.NullFactoryBean">
        <constructor-arg value="javax.sql.DataSource"/>
    </bean>

    <!-- ========== SQL ========== -->
    <import resource="sqlContext.xml"/>
</beans>
